.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
body{
  background-color: tomato;
  
}
.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
}
.input{
  width:100%;
}
.card{
  border-radius: 10px;
  background-color: white;
  width: 40%;
  height: 500px; 
}
.username-label{
  margin-bottom: 0;
}
.onlineCard{
  background-color: blue;
  color:white;
}
.online-list{
  list-style: none;
}
.online-list>li{
  padding: 10px 20px;
}

.chating-container{
  width: 100%;
}
.chating-header{
  background-color: blue;
  color:white;
}
.chating-body{
  height: 400px;
  width: 100%;
}
.chating-footer{
  background-color: red;
  height: 50px;
  width: 100%;
}